@model lab15_17.Models.Hall

@{
    ViewData["Title"] = "Hall";
}

<h1>Hall</h1>

<h4>Hall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Hall">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="HallName" class="control-label"></label>
            <select asp-for="Id" class="form-control">
                @{
                    foreach (var b in ViewBag.Halls)
                    {
                        <option value="@b.Id">@b.HallName, @b.Technology, @b.RowsCount рядів, @b.SeatsCount місць, @b.MinPrice + UAH</option>
                    }
                }
            </select>
            <span asp-validation-for="HallName" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
